html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-image {
    background-image: url(/Images/background_blur.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}