@model SeniorSolutionsWeb.Models.ServiceRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ServiceRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*            <div class="form-group">
                <label asp-for="RequestorName" class="control-label"></label>
                <input asp-for="RequestorName" class="form-control" />
                <span asp-validation-for="RequestorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestorId" class="control-label"></label>
                <input asp-for="RequestorId" class="form-control" />
                <span asp-validation-for="RequestorId" class="text-danger"></span>
            </div>
*@            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeAssignedId" class="control-label"></label>
                <input asp-for="EmployeeAssignedId" class="form-control" />
                <span asp-validation-for="EmployeeAssignedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
*@            
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
