<div class="form-group input_club">
	<input type="number" id="input_club_number">
	<a class="btn btn-primary mt-2" id="man_search_club">Search Club</a>
	<a class="btn btn-primary mt-2" id="man_remove_club">Remove Entry</a>
</div>