<nav id="options" class="col-lg-3 bg-white sidebar">
    <div class="pos_sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Manager" asp-action="Index">Overview</a>
            </li>
            <li class="border-top my-3"></li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Manager" asp-action="ListServiceRequests">See Service Request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Manager" asp-action="ListResidents">Manage Resident Accounts</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" asp-controller="Manager" asp-action="Poll">Create Poll</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Manager" asp-action="CreateQuestionnaire">Create Questionnaire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Manager" asp-action="ListQuestionnaires">List Questionnaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Manager" asp-action="CreateOrientation">Create Orientation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="CommunityIssues">Community Issues</a>
            </li>
            <li class="nav-item">
                <a class="link-dark" data-bs-toggle="collapse" data-bs-target="#event-collapse" aria-expanded="true">Events</a>
                <div class="collapse show" id="event-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Manager" asp-action="CreateEvent">Create Event</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Manager" asp-action="ListEvents">List Events</a>
                        </li>
                    </ul>      
                </div>
            </li>
            @{
            //<li class="nav-item">
            //    <a class="link-dark" data-bs-toggle="collapse" data-bs-target="#club-collapse" aria-expanded="true">Clubs</a>
            //    <div class="collapse show" id="club-collapse" style="">
            //        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            //            <li><a class="nav-link rounded" asp-controller="Manager" asp-action="clubs">Review & Approve Clubs</a></li>
            //            <li><a class="nav-link rounded" asp-controller="Manager" asp-action="create_clubs">Create Clubs</a></li>
            //        </ul>      
            //    </div>
            //</li>    
            }
                               
        </ul>
    </div>
</nav>