@{
    ViewData["Title"] = "Control Room";
    Layout = "_Layout";
}

<div id="page" class="container-fluid">
    <div class="row">
        <partial name="_ManagerSidebar.cshtml"></partial>
        <div id="content" class="bg-light col-lg">
            <h1>Please Select A Content Option From the Sidebar</h1>
        </div>
    </div>         
</div>