@{
    ViewData["Title"] = "Manage Accounts";
}

<div id="page" class="container-fluid">
    <div class="row">
        <partial name="_ManagerSidebar.cshtml"></partial>
        <div id="content" class="bg-light col-lg">
            <div id="manage-accounts">
                <form>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group row border-top my-3 ">
                        <p class="justify-content-center d-flex">Generate Key or Set a Password</p>
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <input class="btn btn-primary" type="reset" value="Generate Key">
                        </div>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control" id="inputPassword" placeholder="Key">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>         
</div>