@{
    ViewData["Title"] = "Service Form";
}

<div id="page" class="container-fluid">
    <div class="row">
        <partial name="_ManagerSidebar.cshtml"></partial>
        <div id="content" class="bg-light col-lg">
            <div id="wage">
                         
            </div>
        </div>
    </div>
                 
</div>
