@{
    ViewData["Title"] = "Service Form";
}

<div id="page" class="container-fluid">
    <div class="row">
        <partial name="_ManagerSidebar.cshtml"></partial>
        <div id="content" class="bg-light col-lg">
            <div id="request">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Request</th>
                        <th scope="col">Creation</th>
                        <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">320</th>
                        <td>Mark Handel</td>
                        <td>Broken Bed</td>
                        <td>02/02/2022</td>
                        <td>Not Completed</td>
                        </tr>
                        <tr>
                        <th scope="row">555</th>
                        <td>Gray Dall</td>
                        <td>Broken TV</td>
                        <td>02/22/2022</td>
                        <td>Completed</td>
                        </tr>
                        <tr>
                        <th scope="row">20</th>
                        <td>Mark Handel</td>
                        <td>I'm sending this request to tell you that I'm no longer going to need service</td>
                        <td>02/12/2022</td>
                        <td>Discarded</td>
                        </tr>
                    </tbody>
                </table>
                <form>
                            
                </form>
            </div>
        </div>
    </div>
                 
</div>

