@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                Balance Due
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Lease:</li>
                <li class="list-group-item">Utilities:</li>
                <li class="list-group-item">Total:</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h1 class="display-4">Events</h1>
        </div>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="img/a.png" class="d-block w-100 carousel-image" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Please Complete your registration</h5>
                    <p>Registration can be completed in the account page</p>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="img/b.png" class="d-block w-100 carousel-image" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>You Have Outsanding Fees</h5>
                    <p>Please Pay Your Initial Deposit</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="img/c.png" class="d-block w-100 carousel-image" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>You Have Outstanding Fees</h5>
                    <p>Please Pay Your Maintenance Fees</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        <div class="col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h1 class="display-4">Community Issues</h1>
            </div>
            <div class="card-group">
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                </div>
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                </div>
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
