<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold">Welcome, <br> @User.Identity.Name</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                Clubs & Events
            </button>
            <div class="collapse show" id="home-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a asp-controller="Account" asp-action="YourClubs" class="link-dark rounded">Your Clubs</a></li>
                <li><a href="#" class="link-dark rounded">Your Events</a></li>
                <li><a a asp-controller="Account" asp-action="Invites" class="link-dark rounded">Invites</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Polls & Questionnaires
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">Current Polls</a></li>
                <li><a href="#" class="link-dark rounded">Past Polls</a></li>
                <li><a href="#" class="link-dark rounded">Current Questionnaires</a></li>
                <li><a href="#" class="link-dark rounded">Past Questionnaires</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                Community Issues
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">Your Posts</a></li>
                <li><a href="#" class="link-dark rounded">Your Comments</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#payments-collapse" aria-expanded="true">
                Payments
            </button>
            <div class="collapse show" id="payments-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">Current Payments</a></li>
                <li><a href="#" class="link-dark rounded">Past Payments</a></li>
                </ul>
            </div>
        </li>

        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="true">
                Account
            </button>
            <div class="collapse show" id="account-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a asp-controller="Account" asp-action="Settings" class="link-dark rounded">Settings & Information</a></li>
                <li><a asp-controller="Account" asp-action="LogoutUser" class="link-dark rounded">Sign out</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>