@model IEnumerable<SeniorSolutionsWeb.Models.Fee>
@{
    var creditCount = 0;
    bool validModel = false;
    if(Model.Count() > 0)
    {
        validModel = true;
        foreach(var mod in Model)
        {
            if(mod.Type == "Credit")
            {
                creditCount += mod.AmountOwed;
            }
        }
    }
}
<div class="row">
    <div class="col-3">
        <partial name="_ResidentSideBar.cshtml" />
    </div>
    <div class="col-9">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Catagory</th>
                    <th scope="col">Issue Due</th>
                    <th scope="col">Payment Date</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            @if (validModel)
            {
                @foreach (var mod in Model)
                {
                    <tr>
                        <th scope="col">@mod.Type</th>
                        <td>@mod.DateIncurred</td>
                        @if (mod.Type == "Credit")
                        {
                            <td>-</td>
                            <td>$@mod.AmountOwed</td>
                        }
                        else
                        {
                            <td>@mod.DatePayed</td>
                            <td>$@mod.AmountOwed</td>
                        }
                    </tr> 
                }
            }
            else
            {
                <tr>
                    <td scope="row" colspan="4" class="text-center">No Current Bills</td>
                </tr>
            }
        </table>
    </div>
</div>