@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Account";
    ViewData["Background"] = "bg-image";
    var returnUrl = ViewData["ReturnUrl"] as string;
    Layout = "_Layout";
}
<div class="col-12 d-flex justify-content-center align-items-center vh-100">
    <div class="col-sm-4 p-5 bg-white border border-5 rounded">
        <div class="col-12 text-center">
            <h4 class="border-bottom pb-2">Senior Solutions</h4>
            <h5>Register Account</h5>
        </div>
        <form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
            <div class="mb-3">
                <label for="username" class="form-label fw-bold">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label fw-bold">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/Account/Register?returnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" class="btn btn-primary">Register</a>
        </form>
    </div> 
</div>