<div class="row">
    <div class="col-3">
        <partial name="_ResidentSideBar.cshtml" />
    </div>
    <div class="col-9">

    </div>
</div>

@{
//<h1>This is a secure page.</h1>
//<h2>Welcome @User.Identity.Name</h2>

//<ul>
    //@foreach (var i in @User.Claims)
    //{
        //<li>@i.Type @i.Value</li>
    //}
//</ul>
}