@model IEnumerable<SeniorSolutionsWeb.Models.ClubRoleViewModel>
<div class="row">
    <div class="col-3">
        <partial name="_ResidentSideBar.cshtml" />
    </div>
    <div class="col-9">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Event Name</th>
                    <th scope="col">Role</th>
                </tr>
            </thead>
        @if(Model.Count() == 0)
        {
            <tr>
              <td scope="row" colspan="2" class="text-center">Find Events to Join</td>
            </tr>        
        }
        else
        {
            @foreach(var mod in Model)
            {
                <tr>
                    <th scope="row">@mod.ClubName</th>
                    <td>@mod.RoleName</td>
                </tr>
            }
        }
        </table>
    </div>
</div>